body {
    background-color: #18105c;
    color: yellow;
    
}

.container {
    max-width: 100rem;
    margin-inline: auto;
    padding-inline: 2rem;
  }

.houses {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
}

.card {
    border: 3px solid hotpink;
}


/* #houses {
    display: flex;
}

#houses img {
    border-radius: 10px;
    scale: 50%;
    transition: transform .5s;
}

#houses img:hover {
    transform: scale(1.1);
} */


/* #titleArea {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#head {    
    text-align: center;

}

h1 {

    font-size: 4rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

#houses h2 {
    font-size: 2rem;
    text-align: center;
}


#houses {
    display: flex;
    justify-content: center;
}

#houses ul{
    list-style: none;
    display: flex;
}

#houses img {
    border-radius: 10px;
    scale: 50%;
    transition: transform .5s;
}

#houses img:hover {
    transform: scale(1.2);
}

 */
